<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6"><img src="{{mobileList[mobileid].imageUrl}}" class="img-fluid" alt=""></div>
        <div class="col-md-6">
            <ul class="list-group">
                <div class="list-group-item">{{mobileList[mobileid].name}}</div>
                <div class="list-group-item">{{mobileList[mobileid].name}}</div>
                <div class="list-group-item">{{mobileList[mobileid].name}}</div>
                <li class="list-group-item"><a href="/home" class="btn btn-success btn-sm">Back</a></li>
        </ul>

        </div>
    </div>
</div>